@import "tailwindcss";

:root {
  --background: #ede0ca;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ede0ca;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.english {
  font-family: "IM Fell English", serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari (prevents callout on long-press) */
  -webkit-user-select: none; /* Safari/Chrome */
  -khtml-user-select: none; /* Old Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  cursor: default;
}

.paper {
  background-image: url("../../public/images/paper.jpg");
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  font-family: "EditorialNew", serif;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  min-height: 100vh;
  color: #27272a;
}

@media (min-width: 768px) {
  .paper {
    max-width: 1536px;
    width: 100%;
  }
}
::selection {
  /* background-color: #f7a8a8; */
  background-color: #9e130a;
  color: black;
}
