@import "tailwindcss";

:root {
  --background: #f5f0e6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f0e6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.english {
  font-family: "IM Fell English", serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari (prevents callout on long-press) */
  -webkit-user-select: none; /* Safari/Chrome */
  -khtml-user-select: none; /* Old Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
  cursor: default;
}

/* .screen {
  @apply bg-[url('../public/bg/texture.jpg')] md:max-w-[1536px]  md:w-full w-[1400px] mx-auto font-EditorialNew px-4 pt-4 min-h-screen text-zinc-800;
} */
